.productManagerInsert{
    display: flex;
    margin-right: 35px;
}

.register-button {
    padding: 8px 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-left : 84%
  }
  
  .register-button:hover {
    background-color: #218838;
  }
  