.productManagerContent{
    width: 80%;
    height: 700px;
    margin: 20px auto;
    background-color: #f8f9fa;
    padding: 10px 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}